.Home{
    background-color: #1B1919;
}

.links{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7%;
}

.links button{
    border: none;
    outline: none;
    background-image: linear-gradient(120deg,#BE05FF, #F45800);
    padding: 10px;
    border-radius: 10px;
}

section{
    height: 100vh;
    width: 100%;
    padding: 5%;
}

#about_para{
    position: relative;
    width: 40%;
    left: 60%;
    font-size: 2rem;
}

#para{
    margin-top: 5%;
    font-size: 2.5rem;
    width: 50%;
}


#about{
    font-size: 5rem;
}

#hai{
    font-size: 5rem;
    margin-top: 5%;
}

#purple{
    background-image: linear-gradient(120deg,#BE05FF, #F45800);
    top: 10%;
    right: 10%;
}

.anim_about{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-image: linear-gradient(120deg,#F45800, #BE05FF);
    position: absolute;
    top: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anim{
    width: 300px;
    position: absolute;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

#tomato{
    background-image: linear-gradient(120deg,#F45800, #BE05FF);
    right: 20%;
    bottom: 10%;
}

@media (max-width: 500px){
    .anim{
        height: 150px;
        width: 150px;
        font-size: 1.5rem;
    }

    .links{
        margin-top: 30%;
    }

    #about_para{
        margin-top: 50%;
    }

    #hai{
        margin-top: 40%;
    }

    #para{
        margin-top: 20%;
    }
}

@media (max-width: 900px){
    .anim{
        height: 150px;
        width: 150px;
    }

    #about_para{
        margin-top: 30%;
    }

    #hai{
        margin-top: 20%;
    }

    #para{
        margin-top: 10%;
    }
}

@media (max-width: 1300px){
    .anim_about{
        height: 200px;
        width: 200px;
    }

    #about_para{
        font-size: 1.5rem;
    }

    #para{
        font-size: 1.5rem;
    }
}