.nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main{
    font-size: 20vh;
    margin-left: 5%;
}

.para{
    margin-left: 5%;
    font-size: 3rem;
    font-weight: lighter;
    margin-top: 5%;
}

.home{
    margin: 0 2% 0 2%;
    scroll-snap-type: y proximity;
    height: 100vh;
}

.nav h3{
    transition: all 0.3s ease;
}

.link{
    margin-right: 10%;
    text-decoration: none;
}

.nav h3:hover{
    transform: scale(1.2);
    color: tomato;
}

.anim{
    margin-top: -3%;
    margin-left: 5%;
    width: 0vw;
    height: 2vh;
    background-color: tomato;
    animation: underanim ease-in-out 3s forwards 0.5s;
}

@keyframes underanim{
    0%{
        width: 0;
        transform: translateX(0);
    }

    50%{
        width: 13vw;
        transform: translateX(0);
    }

    100%{
        width: 0vw;
        transform: translateX(13vw);
    }
}

#text{
    font-size: 3rem;
    color: tomato;
}

section{
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

@media (max-width: 500px){
    .main{
        font-size: 7rem;
    }

    .anim{
        width: 0;
        height: 1vh;
        animation: underanim 3s ease-in-out forwards 0.5s;
    }

    .para{
        visibility: hidden;
        animation: animpara 1s ease-in-out 1s forwards;
    }

    @keyframes animpara{
        from{
            visibility: hidden;
            transform: translateY(30px);
        }

        to{
            visibility: visible;
            transform: translateY(0); 
        }
    }

    @keyframes underanim{
        0%{
            width: 0;
            transform: translateX(0);
        }

        50%{
            width: 30%;
            transform: translateX(0);
        }

        100%{
            width: 0;
            transform: translateX(20%);
        }
    }
}