section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(120deg , rgb(148, 148, 253), rgb(146, 0, 231));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.welcome h1{
    font-size: 5rem;
}

.welcome h2{
    font-size: 2rem;
}

.hai{
    opacity: 0;
    animation: textanim 1s ease-in-out 0.5s forwards;
}

.yasar{
    opacity: 0;
    animation: textanim 1s ease-in-out 1.5s forwards;
}

@keyframes textanim{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 600px){
    .yasar{
        margin: 5%;
        text-align: center;
    }
}